@using Facebook;
@{
    ViewBag.Title = "The Nose Book";
    ViewBag.Message = "Where you can pick your friends and your stocks.";
}

@section scripts {
    @Scripts.Render("~/bundles/custom")
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title - @ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<script src="~/Scripts/custom/apiFacades/FacebookAPI.js"></script>
<!--
    Facebook tie in don't delete. This needs to be on everypage.
-->


<section class="container-fluid">
    <div id="fb-root"></div>
    <script type="text/javascript">
        //alert("before");
        //FB.getLoginStatus(function (response) {
        //    statusChangeCallback(response);
        //});
        window.fbAsyncInit = function () {
            FB.init({
                appId: '457596417728680',
                status: true,
                xfbml: true,
                cookie: true,
                version: 'v2.2'
            });
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    alert("here");
                    var accessToken = response.authResponse.accessToken;
                    $.post('@Url.Action("UserInfo", "Home")', { 'accessToken': accessToken });
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };
        //Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

    </script>
    <div class="col-md-4" id="left-panel">
        <div id="stock">
            Stock
        </div>
        <div id="user_stock">
        </div>
        <div id="transactions">
            <a href="/Transactions/Index">View Transactions</a>
        </div>
        <div id="calendar">
            <a href="/Calendar/Index">View Calendar</a>
        </div>
    </div>
    <div class="col-md-8" id="right-panel">
        <div id="facebook">
            
        </div>
        <div id="newsfeed">News Feed</div>
    </div>
</section>


