@{
    ViewBag.Title = "The Nose Book";
    ViewBag.Message = "Where you can pick your friends and your stocks.";
}

@section scripts {
    @Scripts.Render("~/bundles/custom")
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title - @ViewBag.Message</h1>
            </hgroup>
        </div>
    </section>
}
<script src="~/Scripts/custom/apiFacades/FacebookAPI.js"></script>
<!--
    Facebook tie in don't delete. This needs to be on everypage.
-->
<script>
    FB.getLoginStatus(function (response) {

        statusChangeCallback(response);
  });
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '457596417728680',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<section class="container-fluid">
    <div class="col-md-4" id="left-panel">
        <div id="stock">Stocks</div>
        <div id="calendar">
            <a href="/Calendar/Index">View Calendar</a>
        </div>
    </div>
    <div class="col-md-8" id="right-panel">
        <div id="facebook">Facebook</div>
        <div id="newsfeed">News Feed</div>
    </div>
</section>