html{
    height: 100%;
}

body {
    height: 100%;
}

#body {
    padding-top: 50px;
    padding-bottom: 55px;
    height: 100%;
}

.navbar > .container-fluid {
    background-color: lightblue;
}

.navbar-brand > img,
.navbar-brand > p {
    height: 100%;
    display: inline-block;
}

#newsItem{
    background-color:lightblue;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    background-clip:content-box;
    min-height: 60px;
}

#name{
    color: blue;
    font-weight: bold;
}

#newsfeed{
    padding-bottom: 10%;
}

#messageTitle{
    font-weight: bold;
}

#fbImage{
    max-height: 50%;
    max-width: 50%;
    padding: 10px;
    border: 1px solid grey;
    background-color: white;
}

#fbProfilePic{
    float: left;
    padding-right: 5px;
}

#name{
    display: block;
}

#statusUpdate{
    background-color: lightblue;
    width: 80%;
}

.mySpan{
    overflow: hidden;
    display:block;
    padding: 0 4px 4px 10px;
}

.input {
    width: 100%;
}

.updateLabel{
    float: left;
}

#message{
    word-wrap: break-word;
    font-weight: normal;
}
.title{
    padding-top: 25px
}

#chat { width: 97%; }
.them { font-weight: bold; }
.them:before { content: 'them '; color: #bbb; font-size: 14px; }
.you { font-style: italic; }
.you:before { content: 'you '; color: #bbb; font-size: 14px; font-weight: bold; }
#log {
  overflow: auto;
  max-height: 300px;
  list-style: none;
  padding: 0;
/*  margin: 0;*/
}
#log li {
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 10px 0;
}