html{
    height: 100%;
}

body {
    height: 100%;
}

#body {
    padding-top: 35px;
    padding-bottom: 35px;
    height: 100%;
}

.navbar > .container-fluid {
    background-color: lightblue;
}

.navbar-brand > img,
.navbar-brand > p {
    height: 100%;
    display: inline-block;
}