@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table-front">
    <tr>
        <td>
            <a href='@Url.Content("~/Calendar/Week")'><b>Week</b></a>
            <br />
            <a href='@Url.Content("~/Calendar/Month")'><b>Month</b></a>
            <br />
            Outlook-like day/week view. Customizable columns.
        </td>
    </tr>
</table>
