@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events.Calendar;
@using DayPilot.Web.Mvc.Enums.Calendar;

@{
    ViewBag.Title = "MonthView";
}

<h2>MonthView</h2>
@Html.DayPilotMonth("dp_month", new DayPilotMonthConfig
{
    BackendUrl = Url.Content("~/Backend/Month")
})