@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    <script src="~/Scripts/custom/apiFacades/FacebookAPI.js"></script>
    

    <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->
 
    <div id="status">
    </div>
    <ul class="nav navbar-nav navbar-right"  >
        <div class="fb-login-button" title="Login Button" data-show-faces="true" data-width="250" data-max-rows="2" onlogin="checkLoginState();" autologoutlink="true">
        </div>
    </ul>
}
